<div class="container mt-3">
  <div class="jumbotron">
    <h1 style="color: blue">Login usuario</h1>
    <br />

    <form action="" method="GET">
      <div class="form-group">
        <label for="user"><b>Ingrese su nombre</b></label>
        <input id="user" class="form-control" type="text" name="user" />
      </div>
      <button class="btn btn-success mt-3 mb-5">Send</button>
    </form>

  </div>
</div>
